*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: none !important;
  border-color: none !important;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

:focus-visible {
  outline: none !important;
}

img {
  cursor: pointer;
}

.active {
  color: #bf3428;
}

.d-n {
  display: none !important;
}

* {
  transition: all 0.4s ease-in-out;
}

#catName {
  opacity: 0;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#category:hover #catName {
  opacity: 1;
  width: 100%;
  height: 100%;
}

.d-n {
  display: none;
}

.card {
    width: 80%;
    animation: box .6s ease ;
}

@keyframes box {
    0%{
        width: 0;
    }
    100% {
        width: 80%;
    }
}
